# Configuration MySQL
MYSQL_ROOT_PASSWORD=R00t@Cloud2024!Sec
MYSQL_DATABASE=wordpress_db
MYSQL_USER=wp_admin_cloud
MYSQL_PASSWORD=Wp@Cloud2024!Sec
# Configuration WordPress
WORDPRESS_PORT=8080
# Configuration phpMyAdmin
PMA_PORT=8081