# Configuration MySQL
MYSQL_ROOT_PASSWORD=changez_moi
MYSQL_DATABASE=wordpress
MYSQL_USER=wp_user
MYSQL_PASSWORD=changez_moi
# Configuration WordPress
WORDPRESS_PORT=8080
# Configuration phpMyAdmin
PMA_PORT=8081